ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
}

ol > li:before {
    content: "[" counter(list) "] ";
    counter-increment: list;
}

pre {
    margin-left: 20px;
    width: max-content;
}

.inline-code {
    display: inline-block;
    background-color: rgb(240, 247, 255);
    padding: 0 5px;
    border-radius: 5px;
    box-sizing: border-box;
    border: lightgrey 1px solid;
    margin-top: 1px;
}