p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    margin: 20px;
}

ul {
    border-left: lightcoral 5px solid;
    box-sizing: border-box;
    margin: 20px;
}

pre {
    background-color:rgb(240, 247, 255);
    padding: 20px;
    font: monospace;
}
