body { 
    background-color: rgb(130, 174, 255);
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#root {
    background-color: white;
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 20px gray;
    box-sizing: border-box;
}

h1 {
    color: rgb(255, 92, 92);
}

.intro {
    background-color: rgb(255, 161, 161);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

h2 {
    color: cornflowerblue;
}

#links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.blog-link, .project-link {
    padding: 10px;
    color: black;
    margin: 20px;
}

#blog-links, #project-links {
    padding-left: 20px;
}

a {
    color: black;
}

a:hover {
    color: gray;
}
.date {
    font-style: italic;
    color: gray;
    margin: 0px;
}